* {
    margin: 0px;
  }

  h1 {
    color: black;
    font-size: 100px;
  }

  ol {
    color: blue;
    font-family: sans-serif;
    font-style: oblique;
  }

  img {
    border-radius: 50%;
    /* ancho del borde, tipo de border, color */
    border: 2px solid whitesmoke;
  }

  p {
    /* para cada lado 30px de relleno */
    /* arriba, derecha, abajo y a la izquierda */
    padding: 30px;
    text-decoration: underline;
    color: black;
    /* background-color: black; */
    border: 2px solid blue;
  }

  
